# environment
/.venv
uv.lock

# pycache
__pycache__/
*.pyc
*/.DS_Store

# yamls with secrets
/yamls/*.yaml

!/yamls/*_format.yaml


# data 
test_source/JaQuAD_jsonls/*
test_source/wiki/*
!test_source/.gitkeep
!test_source/wiki/.gitkeep

test_output/*
test_output/imabari_qa/*

wiki/*